<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.notion.wallpaper</string>
        <key>Program</key>
        <string>/Users/username/notion-todo/todo-wallpaper-script.sh</string>
        <key>RunAtLoad</key>
        <true/>
        <key>StartInterval</key> 
        <integer>60</integer>
        <key>StandardOutPath</key>
        <string>/Users/username/notion-todo/output.txt</string>
        <key>StandardErrorPath</key>
        <string>/Users/username/notion-todo/errors.txt</string>
    </dict>
</plist>